body{
    margin: 0;
    padding: 0;
    font-family: "roboto";
}

nav{
    background-color: black;
    width: 100%;
}

ul{
    padding:2% 10%;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.block{
    height: 210px;

}

.block:nth-child(odd){
background-color: #009688;
}

.block:nth-child(even){
    background-color: #ffeb3bbf;
}

#scrolltotop{
    position: fixed;
    display: flex;
    justify-content: center;
    right: 100px;
    height: 7%;
    width: 4%;
    bottom: 100px;
    background-color: black;
    color: white;
    font-size: 3em;
    border-radius: 66%;
    align-items: center;
    opacity: 0;
}

.fixNavigation{
    height: 9%;
    position: fixed;
}

.fixNav{
    padding: 1.5% 10%;
}