body{
    margin: 0;
    padding: 0;
    font-family: "roboto";
}

nav{
    background-color: black;
    width: 100%;
}

ul{
    padding:2% 10%;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.block{
    height: 450px;
    display: flex;
    justify-content: center;

}

.block:nth-child(odd){
background-color: #009688;
}

.block:nth-child(even){
    background-color: #ffeb3bbf;
}

#scrolltotop{
    position: fixed;
    display: flex;
    justify-content: center;
    right: 100px;
    height: 7%;
    width: 4%;
    bottom: 100px;
    background-color: black;
    color: white;
    font-size: 3em;
    border-radius: 66%;
    align-items: center;
    opacity: 0;
}

.fixNavigation{
    height: 11%;
    position: fixed;
    z-index: 999;
}

.fixNav{
    padding: 1.5% 10%;
}

.slidesshow-container{
    max-width: 500px;
    position: relative;
    margin-top: 3%;
}

.text{
    position: absolute;
    bottom: 85px;
    color: aliceblue;
    width: 100%;
    text-align: center;
    font-size: 40px;
}

img{
    max-width: 475px;
}

.prev, .next{
    position: absolute;
    top: 40%;
    color: aliceblue;
    font-size: 60px;
}

.prev:hover, .next:hover{
    cursor: pointer;
    color: rgb(84, 139, 139);
}

.prev{
    left: 0.7%;
}

.next{
    right: 0.7%;
}

.slides{
    display: none;
}

.active{
    display: block;
}
